body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(0deg,#fff 40%,#bd9e9e);
}


.planes{
    display: flex;
    justify-content: center;
    gap: 20px;

}

.planbasico{
    border: 2px solid #ccc;
    padding: 20px;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    transition: 1s;
}

.planbasico > ul{
    margin-bottom: 52px;
}

.planrecomendado{
   box-shadow: 1px 2px 4px 2px  #ff6600;
   padding: 20px;
   max-width: 100%;
   text-align: center;
   overflow: hidden;
   transition: 1s;
}

.planrecomendado > ul{
    margin-bottom: 38px
}
.planrecomendado > h5{
    box-shadow: 1px 2px 10px 1px #ff6600;
    display: block;
    border-radius: 3px;
    display: flex;
    border-radius: 3px;
    margin: auto;
    width: max-content;
}

.planpremium{
    border: 2px solid #ccc;
    padding: 20px;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    transition: 1s;
}
.precio{
    font-size: 24px;
    font-weight: bold;
}

ul {
    padding: 0;
}

.boton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600; /* Color del botón */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.boton:hover{
    background-color: #cc5500; /* Color del botón al pasar el ratón */
    color: #fff;
}

.LandingLayout_gradient__vgzkS {
    background: linear-gradient(0deg,#fff 40%,#bd9e9e); /* color difuminado del fondo*/
}


element.style {
    font-size: 16px;
    font-weight: 700;
    z-index: 1000;
}


.Buttons_pinkButton__xepr_ {
    color: #fff;
    fill: #fff;
    background-color: #ec008b;
    border-radius: 3px;
    border: .0625rem solid #ec008b;
    font-size: .75rem;
    font-weight: 400;
    padding: .8rem 1.2rem;
    letter-spacing: .125rem;
    cursor: pointer;
}

a {
    color: #485fc7;
    cursor: pointer;
}

a, a:focus, a:hover {
    color: #ec008b;
    text-decoration: none;
}

.Buttons_buttonContainer__bZ645 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
@media (min-width: 48em){
.Buttons_pinkButton__xepr_ {
    font-size: .85rem;
    font-weight: 400;
    padding: 1.25rem 2.25rem;
    letter-spacing: .125rem;
   }
}
@media (min-width: 48em){

.LandingLayout_landing_section_top_padding__F2EPk {
    padding-top: 75px;
}
}
@media (min-width: 48em){
.LandingLayout_landing_section_bottom_padding__BtD0B {
    padding-bottom: 75px;
}
}


@media(max-width:543px){
    .planes{
        flex-direction: column;
    }
}

@media(max-width:768px){
   body{
    font-size: 16px;
   }
}

.planpremium:hover{
    box-shadow: 1px 2px 30px 15px #ffD700;
    transition: 1s;
}

.planbasico:hover{
    box-shadow: 1px 2px 7px 3px #cf0404;
    transition: 1s;
}

.planrecomendado:hover{
    box-shadow: 1px 2px 7px 7px #ff6600;
    transition: 1s;
}

.navbar{
background: linear-gradient(-7deg,#bd9e9e 40%,#fff);
display: flex;
text-align: center; 
padding: 20px;
width: 100%; /* Ancho completo */
top: 0; /* Coloca el navbar en la parte superior de la página */
z-index: 1000; /* Asegura que el navbar esté en la capa superior */
overflow: hidden;
}